.first_segment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
align-items: center;
}

.second_segment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input {
    width:80%;
    height: 35px;
    margin-bottom: 15px;
    border-bottom:1px solid black ;
    border-radius: 7px;
}


.form_div {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    flex-wrap: wrap;

}

.form_password {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.div_input {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;

}


.p{
    color: red;

}
.button{
    width: 150px;
}